.create-note {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}

.create-note.expanded {
  transform: translateY(0);
  opacity: 1;
}

.input-title,
.textarea-content {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.input-title:focus,
.textarea-content:focus {
  border-color: #6200ee;
  outline: none;
}

.note {
  background-color: #fff9c4;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, opacity 0.5s;
}

.note:hover {
  transform: translateY(-5px);
}

